*{
    box-sizing:border-box;
}



body{
    background:linear-gradient(45deg,rgba(111, 126, 123, 0.5),rgba(0,0,0,.8));
    font-family:"Roboto",sans-serif;
    color:white;
    align-items:center;
    justify-content:center;
    height:200vh;
    overflow:hidden;
    margin:0;
}


.containers{
    height:1000px;
    width:cover;
    display:flex;
    /*width:500vw;*/

}



.panel{
    flex:.5;
    background-size:cover;
    transition: 0.5s ease-in;
    -webkit-transition:  0.5s ease-in;
    -moz-transition:  0.5s ease-in;
    background-position:center;
   background-repeat:no-repeat;
    max-height:600px;
    max-width:600px;
    border-radius:30px;
    margin:1px;
    position:relative;
  
}

.panel h3{
    font-size:20px;
    bottom:30px;
    left:30px;
    position:absolute;
    margin:0;
    opacity:0;
}

.panel.active{
    flex:5;
    width:500vw;
}
.panel.active h3{
    opacity:1;
}





@media(max-width:480px){
    .container{
        width:100vw;
    }
   .panel:nth-of-type(4){
        display:none;
    }
}
